<h1>Array Inc. Open Jobs</h1>

<table class="table table-hover table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <th scope="row"><%= job.id %></th>
      <td><%= job.title %></td>
      <td><%= job.description %></td>
      <td><%= link_to "Edit Posting", edit_job_path(job) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
